h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(75, 28, 28);
    height: 200px;
}

h2{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(48, 27, 58);
    height: auto;
    width: auto;
}

p{
    font-size: auto;
    font-family: fantasy;
    color: rgb(80, 25, 25);
    
}

ol{
    font-size: 30px;
    color: blue;
    font-style: italic;
    height: auto;
    margin-top: 10%;
    margin-bottom: 15%;
}

img{
    height: auto;
    width: 500px;
    border: solid 10px brown;
    margin: 10px;
}

.contenedorGeneral{
    background-color: brown;
    border: solid 2px cadetblue;
    width: 600px;
    height: auto;
    margin: 10px;
    /*display: inline-block;*/
    text-align: center;
    
}

body{
    background-color: cadetblue;
}

.resaltar{
    font-family: cursive;
    color: rgb(21, 15, 71);
}

.encabezado{
    display: flex;
}

.cuerpo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


